<h1 style="text-align: center; color: red;">About McDonald's</h1>
<hr>
<img src="../assets/aboutmcdo.jpeg" alt="">
<hr>
<br>
<hr>
<h1 style="text-align: center; color: red;">McDonald's in the Philippines</h1>
<div class="cards">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img style="width: 300px;" src="../assets/mcdoph1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: red;">1992</h5>
              <p class="card-text">Mcdonald's first opens its stores in Visayas (Cebu City) and in Mindanao (Cagayan de Oro City.)</p>
              <p> </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img style="width: 300px;" src="../assets/mcdoph2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: red;">1996</h5>
              <p class="card-text">Dr. George T. Yang believes in giving back to communities and launches Ronald McDonald house Charities (RMHC) in the Philippines</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img style="width: 300px;" src="../assets/mcdoph3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: red;">2005</h5>
              <p class="card-text">McDonald's Philippines proudly becomes 100% Filipino-owned</p><br>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img style="width: 300px;" src="../assets/mcdoph4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: red;">2019</h5>
              <p class="card-text">Today, McDonald's continues to create feel-good monemts for Filipino families in over 600 restaurants nationwide</p>
            </div>
          </div>
        </div>
      </div>
</div>
