<br><br><hr>
<img src="../assets/Contactbanner.jpeg" alt="">
<hr>
<div class="porm">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">gmail</span>
        <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Comment</span>
        <textarea class="form-control" aria-label="Comment"></textarea>
      </div>
</div>
<br><br><br><br><br><br><br>